<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Aggregating news and Tweets and applying sentiment analysis on various topics." />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta property="og:site_name" content="Newstream" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Newstream" />
    <meta property="og:description" content="Aggregating news and Tweets and applying sentiment analysis on various topics." />
    <meta property="og:url" content="http://getnewstream.com" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Newstream" />
    <meta name="twitter:description" content="Aggregating news and Tweets and applying sentiment analysis on various topics." />
    <meta name="twitter:url" content="http://getnewstream.com/" />

    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:800' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <title>Newstream</title>
  </head>

  <body class="home">
    <nav class="topnav">
      <div class="navicon"><a href="#"><i class="fa fa-bars fa-lg"></i></a></div>

      <a href="#" class="logo">Newstream</a>

      <form class="search" id="search" action="/search" method="post">
        <input class="search-bar" type="text" name="search" placeholder="Search here">
      </form>
    </nav>

    <nav class="sidenav">

    </nav>

    <div class="home-title">{{ text }}</div>
  </body>
</html>
