<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Aggregating news and Tweets and applying sentiment analysis on various topics." />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta property="og:site_name" content="Newstream" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Newstream" />
    <meta property="og:description" content="Aggregating news and Tweets and applying sentiment analysis on various topics." />
    <meta property="og:url" content="http://getnewstream.com" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Newstream" />
    <meta name="twitter:description" content="Aggregating news and Tweets and applying sentiment analysis on various topics." />
    <meta name="twitter:url" content="http://getnewstream.com/" />

    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:800' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css"/>

    <title>Newstream</title>
  </head>

  <body class="home">
    <nav class="topnav">
      <a href="/" class="logo">Newstream</a>

      <form class="search" id="search" action="/search" method="post">
        <input class="search-bar" type="text" name="search" placeholder="Search here">
      </form>
    </nav>

    <div class="top-space"></div>

    <div class="head">{{ queryHeader }}</div>

    <div class="sentiment-container">
      <div class="sentiment-stat">
        <div class="sentiment-head">Sentiment Score</div>
        <div class="sentiment-text" style="color: {{ color }};">{{ sentimentScore }}</div>
      </div>

      <div class="sentiment-stat">
        <div class="sentiment-head">Consensus</div>
        <div class="sentiment-text" style="color: {{ color }};">{{ sentimentValue }}</div>
      </div>

      <div class="sentiment-stat">
        <div class="sentiment-head">Sentiment Spread</div>
        <div class="sentiment-text" style="color: {{ color }};">{{ spread }}</div>
      </div>
    </div>

    <div class="sentiment-graph-container">
      <div class="sentiment-graph-head">Sentiment Change Over Last 5 Days</div>
      <div class="sentiment-graph">
        <iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plot.ly/~ericliu/0.embed" height="400" width="60%"></iframe>
      </div>
    </div>

    <div class="head">News Articles</div>

    {{ result|safe }}    

  </body>
</html>
