<div class="article-container">
  <div class="article-element">
    <img class="image" src="test.jpg" alt="title of article">
  </div>

  <div class="article-element">
    <div class="article-title"><a href="http://google.com">Donald Trump begins overhaul as first executive orders signed</a></div>
    <div class="article-description">Donald Trump has taken his first steps as president, signing an executive order which targets the signature health care reforms of his predecessor.</div>
    <div class="article-link"><a href="http://google.com">Read More &rarr;</a></div>
  </div>

  <div class="article-element">
    <div class="article-sentiment-title">Sentiment Value</div>
    <div class="article-sentiment" style="color: #990000;">Generally Negative</div>
  </div>
</div>

<div class="article-container">
  <div class="article-element">
    <img class="image" src="http://binaryapi.ap.org/ade86d2cc0a74704a74f462c5f78673a/460x.jpg" alt="Trump White House ringed by 'swamp' denizens despite pledge">
  </div>

  <div class="article-element">
    <div class="article-title"><a href="http://bigstory.ap.org/article/198aacd8998c4a34a098e498b440a264/trump-white-house-ringed-swamp-denizens-despite-pledge">Trump White House ringed by 'swamp' denizens despite pledge</a></div>
    <div class="article-description">WASHINGTON (AP) — Mike Pence has returned to Washington. So has his closest political ally, Bill Smith. Smith spent a dozen years as Pence's chief of staff while the current vice president was a congressman and later Indiana…</div>
    <div class="article-link"><a href="http://bigstory.ap.org/article/198aacd8998c4a34a098e498b440a264/trump-white-house-ringed-swamp-denizens-despite-pledge">Read More &rarr;</a></div>
  </div>

  <div class="article-element">
    <div class="article-sentiment-title">Sentiment Value</div>
    <div class="article-sentiment" style="color:##004000;">Moderately Positive</div>
  </div>
</div>
